<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ZeApiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zeapi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- 启动页面Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zeapi.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zeapi.NoActionBar" />
            
        <!-- 工具详情Activity -->
        <activity
            android:name=".ToolDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zeapi"
            android:parentActivityName=".MainActivity" />
            
        <!-- 本地工具详情Activity -->
        <activity
            android:name=".ui.LocalToolDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zeapi"
            android:parentActivityName=".MainActivity" />
            
        <!-- 崩溃处理Activity -->
        <activity
            android:name=".ui.crash.CrashActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Zeapi"
            android:launchMode="singleTask" />
            
    </application>

</manifest>